---
import { AstroSeo } from "@astrolib/seo";
import type { Project } from "../../utils/interfaces/project.type";
import ProjectHero from "../../components/ProjectHero.astro";
import { getFirestore } from "firebase-admin/firestore";
import { app } from "../../utils/firebase/server";
import Layout from "../../layouts/Layout.astro";

const db = getFirestore(app);
const { id } = Astro.params;
const projecttRef = db.doc(`projects/${id}`);
const projectSnapshot = await projecttRef.get();
const project = {
  id: projectSnapshot.id,
  ...projectSnapshot.data(),
} as Project;

const formatDate = (date: number) => {
  const dateObject = new Date(date);
  return dateObject.toLocaleDateString("fr-FR", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
};
---

<AstroSeo
  title={project.title}
  description={project.description}
  canonical='https://guiltyvision.com/projects/'
  +
  project.id
  openGraph={{
    title: project.title,
    description: project.description,
    url: "https://guiltyvision.com/projects/" + project.id,
    images: [
      {
        url: "https://guiltyvision.com/logo.png",
        width: 1200,
        height: 630,
        alt: "Guilty vision logo",
        type: "image/png",
      },
    ],
    site_name: "Guilty vision production",
  }}
/>
<Layout title={project.title}>
  <ProjectHero project={project} />
  <div class='h-screen'>
    <div class='max-w-5xl mx-auto py-24'>
      <div class='flex flex-col gap-4 p-4'>
        <h1
          class='text-5xl xl:text-7xl font-extrabold text-primary-light dark:text-primary-dark text-center pb-8'
        >
          {project.title}
        </h1>
        <h2
          class='text-lg italic text-end pb-4 text-primary-light dark:text-primary-dark'
        >
          {formatDate(project.production_date)} -
          {project.localisations}
        </h2>
        <p class='text-xl text-primary-light dark:text-primary-dark'>
          {project.description}
        </p>
        <h3
          class='text-lg italic text-end pb-4 text-primary-light dark:text-primary-dark'
        >
          {project.credits}
        </h3>
        <div class='flex pt-10'>
          <a href='../' class='btn btn-outline btn-primary'
            >Voir d'autre projets</a
          >
        </div>
      </div>
    </div>
  </div>
</Layout>

<script></script>
