---
import type { Project } from "../../utils/interfaces/project.type";
import ProjectHero from "../../components/ProjectHero.astro";
import { getFirestore } from "firebase-admin/firestore";
import { app } from "../../utils/firebase/server";
import Layout from "../../layouts/Layout.astro";

const db = getFirestore(app);
const { id } = Astro.params;
const projecttRef = db.doc(`videos/${id}`);
const projectSnapshot = await projecttRef.get();
const project = {
  id: projectSnapshot.id,
  ...projectSnapshot.data(),
} as Project;
---

<Layout title={project.title}>
  <ProjectHero project={project} />
  <div class='h-screen'>
    <div class='max-w-5xl mx-auto py-24'>
      <div class='flex flex-col gap-4 p-4'>
        <h1
          class='text-5xl xl:text-7xl font-extrabold text-primary-light dark:text-primary-dark text-center pb-8'
        >
          {project.title}
        </h1>
        <h3
          class='text-lg italic text-end pb-4 text-primary-light dark:text-primary-dark'
        >
          {project.production_date} -
          {project.localisations}
        </h3>
        <p class='text-xl text-primary-light dark:text-primary-dark'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
          metus nec libero ultricies ultricies. Nam auctor, nunc nec faucibus
          ultricies, nunc nunc ultricies. Nam auctor, nunc nec faucibus
          ultricies, nunc nunc ultricies.
        </p>
        <h3
          class='text-lg italic text-end pb-4 text-primary-light dark:text-primary-dark'
        >
          {
            project.credits.map((credit, index) => (
              <span>
                {credit}
                {index < project.credits.length - 1 ? ", " : ""}
              </span>
            ))
          }
        </h3>
      </div>
    </div>
  </div>
</Layout>
